 <!DOCTYPE html>
 <!--type html5 and press ctrl+alt+o to generate basic HTML5 template-->
 <html lang="en">

<head>
     <meta charset="UTF-8">
     <title>TITLE</title>
     <meta name="description" content="DESCRIPTION">
    <link rel="stylesheet" href="PATH">

     <!--[if lt IE 9]>
       <script src = "http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
     <![endif]-->
 </head>

 <body>
<h2>About US</h2>
<h4>This is who we are</h4>
<a href="{% url 'home' %}">Back to Counting Words</a>
 </body>

 </html>
